<app-navbar></app-navbar>

<section id="centralni">
  <article id="leva">
    <ul id="levaStranaElem">
        <ul>
          <img src="https://livedemo00.template-help.com/prestashop_52387/img/p/7/7/77-tm_home_default.jpg" >
          <p>Lorem ipsum dolor sit amet consectetur adipisicing <br>
            Magni incidunt nobis, vero dolorem adipisci molestias<br> 
            ipsam eveniet natus, facilis itaque , dolore ipsum ab.<br> 
            Ea maxime quisquam animi vel iure!</p>
          </ul>
          <ul>
          <img src="https://livedemo00.template-help.com/prestashop_52387/img/p/8/2/82-tm_home_default.jpg" >
          <p>Lorem ipsum dolor sit amet consectetur adipisicing <br>
            Magni incidunt nobis, vero dolorem adipisci molestias<br> 
            ipsam eveniet natus, facilis itaque , dolore ipsum ab.<br> 
            Ea maxime quisquam animi vel iure!</p>
        </ul>
        <ul>
          <img src="https://livedemo00.template-help.com/prestashop_52387/img/p/1/1-tm_home_default.jpg" >
          <p>Lorem ipsum dolor sit amet consectetur adipisicing <br>
            Magni incidunt nobis, vero dolorem adipisci molestias<br> 
            ipsam eveniet natus, facilis itaque , dolore ipsum ab.<br> 
            Ea maxime quisquam animi vel iure!</p>
        </ul>
        <ul>
          <img src="https://livedemo00.template-help.com/prestashop_52387/img/p/6/6-tm_home_default.jpg">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing <br>
            Magni incidunt nobis, vero dolorem adipisci molestias<br> 
            ipsam eveniet natus, facilis itaque , dolore ipsum ab.<br> 
            Ea maxime quisquam animi vel iure!</p>
        </ul>
    </ul>        
  </article>
  <article id="desna">
      <ul id="desnaStranaElem">
          <ul>
            <img src="https://livedemo00.template-help.com/prestashop_52387/img/p/9/2/92-tm_home_default.jpg" >
            <p>Lorem ipsum dolor sit amet consectetur adipisicing <br>
              Magni incidunt nobis, vero dolorem adipisci molestias<br> 
              ipsam eveniet natus, facilis itaque , dolore ipsum ab.<br> 
              Ea maxime quisquam animi vel iure!</p>
          </ul>
          <ul>
            <img src="https://livedemo00.template-help.com/prestashop_52387/img/p/5/9/59-tm_home_default.jpg" >
            <p>Lorem ipsum dolor sit amet consectetur adipisicing <br>
              Magni incidunt nobis, vero dolorem adipisci molestias<br> 
              ipsam eveniet natus, facilis itaque , dolore ipsum ab.<br> 
              Ea maxime quisquam animi vel iure!</p>
          </ul>
          <ul>
            <img src="https://livedemo00.template-help.com/prestashop_52387/img/p/1/4/14-tm_home_default.jpg" >
            <p>Lorem ipsum dolor sit amet consectetur adipisicing <br>
              Magni incidunt nobis, vero dolorem adipisci molestias<br> 
              ipsam eveniet natus, facilis itaque , dolore ipsum ab.<br> 
              Ea maxime quisquam animi vel iure!</p>
          </ul>
          <ul>
            <img src="https://livedemo00.template-help.com/prestashop_52387/img/p/6/6-tm_home_default.jpg" >
            <p>Lorem ipsum dolor sit amet consectetur adipisicing <br>
              Magni incidunt nobis, vero dolorem adipisci molestias<br> 
              ipsam eveniet natus, facilis itaque , dolore ipsum ab.<br> 
              Ea maxime quisquam animi vel iure!</p>
            
          </ul>
        </ul>
  </article>
      
</section>		